wildfly-wasm/subsystem/src/main/resources/schema/wildfly-wasm_experimental_1_0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
~ Copyright The WildFly Authors
~ SPDX-License-Identifier: Apache-2.0
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:jboss:domain:wasm:experimental:1.0"
           xmlns="urn:jboss:domain:wasm:experimental:1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">
    <xs:element name="subsystem" type="subsystemType">
        <xs:annotation>
            <xs:documentation>
                The Wasm subsystem root element.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="subsystemType">
        <xs:annotation>
            <xs:documentation>
                The Wasm subsystem root type.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="wasm-tool" type="wasmToolType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        The Wasm tools.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="wasmToolType">
        <xs:annotation>
            <xs:documentation>
                A WASM tool.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this tool.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="path" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The path on the server to the WASM binary.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="relative-to" use="optional" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The place to where the path is relative to.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
