wildfly-mcp/subsystem/src/main/resources/schema/wildfly-mcp_experimental_2_0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
~ Copyright The WildFly Authors
~ SPDX-License-Identifier: Apache-2.0
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:jboss:domain:mcp:experimental:2.0"
           xmlns="urn:jboss:domain:mcp:experimental:2.0"
           elementFormDefault="qualified"
           version="2.0">
    <xs:element name="subsystem" type="subsystemType">
        <xs:annotation>
            <xs:documentation>
                The MCP subsystem root element.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="subsystemType">
        <xs:annotation>
            <xs:documentation>
                The MCP subsystem root type.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="sse-path" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The sse path on the server.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="messages-path" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The messages path on the server.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="streamable-path" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The streamable path on the server.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="page-size" type="xs:int">
            <xs:annotation>
                <xs:documentation>
                    Maximum number of items per paginated list response. A value of 0 disables pagination.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="timeout" type="xs:long">
            <xs:annotation>
                <xs:documentation>
                    Idle connection timeout in seconds. Connections inactive for longer than this will be closed.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
