wildfly-mcp/subsystem/src/main/resources/schema/wildfly-mcp_1_0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
~ Copyright The WildFly Authors
~ SPDX-License-Identifier: Apache-2.0
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:jboss:domain:mcp:1.0"
           xmlns="urn:jboss:domain:mcp:1.0"
           elementFormDefault="qualified"
           version="1.0">
    <xs:element name="subsystem" type="subsystemType">
        <xs:annotation>
            <xs:documentation>
                The MCP subsystem root element.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="subsystemType">
        <xs:annotation>
            <xs:documentation>
                The MCP subsystem root type.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="mcp-server" type="mcpServerType"  minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The MCP server configuration.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mcpServerType">
        <xs:annotation>
            <xs:documentation>
                The MCP endpoints.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="sse-path" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The sse path on the server.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="messages-path" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The messages path on the server.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="streamable-path" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The streamable path on the server.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
